.contentContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(105,138,232);
    justify-content: center;
}

.contentContainer div{
    margin-top: 75px;
    gap: 2rem;
}

.goToLogin{
    color: #f3c93e;
}

.product-row .cart{
    background-color: black;
}

.cartTable{
    width: 40rem;
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 0px;
}

tr td{
    color: black;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

thead tr th{
    background-color: rgb(26,31,104);
    color: white;
}

#quantity{
    width: 3rem;
    text-align: center;
}

h2{
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
}

.summary{
    background-color: rgba(255, 255, 255, 0.89);
    width: 30rem;
    height: 200px;
}


.interaction button{
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.interaction button:hover{
    background-color: grey;
    color: white;
}

input{
    width: 2rem;
    text-align: center;
}

#total-price{
    color: black;
}

.priceSummary{
    color: black;
    margin: 0 2rem;
    margin-top: 0;
}

.priceSummary div{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.checkout{
    display: flex;
    justify-self: right;
    margin: 1rem 2rem;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}

.checkout:hover {
    background-color: #f3c93e;
    color: black;
}

.wrapper{
    height: 80vh;
    width: 42vw;
    background: whitesmoke;
    overflow-y: scroll;
    max-width: 42vw;
    max-height: 80vh;
}